
    
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Practice</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

</head>
<body>
    <header class="container-fluid" style="background-color: aquamarine; text-align: center;">
    <h1> This is Header </h1></header>

    <div class="container">  
    <h2>Welcome!!, This is Flask Tutorial</h2>
    <p>variable we passed is {{title}}</p>
    {% for ele in pass_list %}
    <p style="color: blueviolet;">{{ele}}</p>
    {% endfor %}
</div>
    
</body>
</html>